.page-content {
  .main-content {
    padding: 0;
  }
}

.page-content {
  padding: 180px 0 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  //.section-title {
  //  font-size: 48px;
  //  line-height: 1.125;
  //}

  .brand-image {
    margin: 0 0 30px;

    img {
      max-width: 40vw;
    }
  }

  .section-description-wrap {
    margin: 0;
  }

  .section-description {
    text-transform: none;
    color: #fff;
    font-size: 24px;
    line-height: 1.25;
    width: 870px;
    max-width: 90%;
  }

  .section-content {
    position: relative;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
  }

  .moonfit-card {
    max-width: 570px;
    margin-top: 54px;

    > .button {
      min-width: 300px;
    }
  }

  .footer-menu {
    margin: 47px 0 0;
  }

  .section-shape-promoting-bg {
    bottom: 10%;
  }

  .section-shape-satellite-1 {
    bottom: 5%;
    left: 0;
    transform: translate(-50%, 0);

    img {
      max-width: 12vw;
    }
  }

  .section-shape-satellite-2 {
    top: 10%;
    right: 0;
    //transform: translate(50%, 0);

    img {
      max-width: 22vw;
    }
  }

  .section-shape-kusama {
    top: 50%;
    left: 10%;

    img {
      max-width: 10vw;
    }
  }

  .section-shape-polkadot {
    bottom: 10%;
    right: 9%;

    img {
      max-width: 12vw;
    }
  }

  .section-shape-beast-nft {
    left: 3%;
    bottom: 15%;

    img {
      scale: 0.5;
      max-width: 12vw;
    }
  }

  .section-shape-beauty-nft {
    right: 3%;
    top: 6%;

    img {
      scale: 0.5;
      max-width: 12vw;
    }
   }

   .section-shape-beauty-2-nft {
    right: 10%;
    bottom: 20%;

    img {
      scale: 0.6;
      max-width: 12vw;
    }
  }

  .section-shape-beast {
    left: 5.7%;
    top: 28%;

    img {
      max-width: 8vw;
    }
  }

  .section-shape-beast-2 {
    left: 5.7%;
    bottom: 10%;

    img {
      max-width: 6vw;
      transform: rotate(-20deg);
    }
  }

  .section-shape-beauty {
    right: 9.1%;
    top: 14%;

    img {
      max-width: 12vw;
    }
  }

  .section-shape-beauty-card-1 {
    top: 12%;
    right: 15%;

    img {
      max-width: 12vw;
    }
  }

  .section-shape-beauty-card-2 {
    top: 9%;
    left: 15%;

    img {
      max-width: 12vw;
    }
  }

  .section-shape-beauty-card-3 {
    top: 50%;
    right: 18%;

    img {
      scale: 0.7;
      transform: rotate(10deg);
      max-width: 12vw;
    }
  }

  .section-shape-beast-card-1 {
    top: 45%;
    left: 12%;

    img {
      transform: rotate(-20deg);
      max-width: 12vw;
    }
  }

  .section-shape-mint-pass-1 {
    top: 28%;
    left: 7%;

    img {
      scale: 0.6;
      opacity: 0.6;
      max-width: 12vw;
    }
  }

  .section-shape-mint-pass-2 {
    top: 28%;
    right: 10%;
    z-index: -1;

    img {
      max-width: 12vw;
    }
  }

  .section-shape-beauty-2 {
    right: 8%;
    bottom: 30%;

    img {
      max-width: 8vw;
    }
  }

  .shape-token-mfr-nft-1 {
    left: 25%;
    bottom: 22%;

    img {
      transform: rotate(25.79deg);
    }
  }
  .shape-token-mfr-nft-2 {
    right: 6.6%;
    bottom: 40%;
  }
  .shape-token-mfg-nft-2 {
    left: 30%;
    top: 14%;
    transform: rotate(25.79deg);
    filter: blur(1px);
  }

  .shape-token-mfr-1 {
    left: 23%;
    bottom: 20%;

    img {
      transform: rotate(25.79deg);
    }
  }

  .shape-token-mfr-2 {
    right: 26.6%;
    top: 46.8%;
  }

  .shape-token-mfg-1 {
    right: 20%;
    top: 14%;
  }

  .shape-token-mfg-2 {
    left: 45%;
    top: 14%;
    transform: rotate(25.79deg);
    filter: blur(1px);
  }

  .page-container {
    width: 62.5%;
    margin: 0 auto;
    z-index: 1;

    &.not-limit-width {
      width: unset !important;
    }
  }

}

@media screen and (max-width: 1600px) {
  .page-content {
    padding-top: 130px;

    .page-container {
      width: 85%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 600px) {
  .page-content {
    padding-top: 110px;

    .page-container {
      width: 100%;
      margin: 0 auto;
    }
  }
}


//
//@media (min-width: 992px) {
//}
//
//@include media-breakpoint-down(lg) {
//  .page-mint-pass {
//    .section-title {
//      font-size: 50px;
//    }
//  }
//}
//
//@include media-breakpoint-down(md) {
//  .page-mint-pass {
//    .section-title {
//      font-size: 44px;
//    }
//
//    .section-description {
//      font-size: 22px;
//    }
//  }
//}
//
//@include media-breakpoint-down(sm) {
//  .page-mint-pass {
//    .section-title {
//      font-size: 38px;
//    }
//
//    .connect-image {
//      margin: 0 0 30px;
//
//      img {
//        max-width: 56vw;
//      }
//    }
//
//    .section-description {
//      font-size: 20px;
//    }
//
//    .moonfit-card {
//      margin-top: 35px;
//    }
//  }
//}
//
//@include media-breakpoint-down(xs) {
//  .page-mint-pass {
//    .section-title {
//      font-size: 32px;
//    }
//
//    .section-description {
//      font-size: 18px;
//    }
//  }
//}
.custom-progress {
  .ant-progress-inner {
    background-color: #462368;
}
}
.ant-pagination.ant-pagination-mini .ant-pagination-item {
  margin: 0 5px !important;
}