.page-content {
  .main-content {
    padding: 0;
  }
}

.page-content {
  padding: 180px 0 28px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  //.section-title {
  //  font-size: 48px;
  //  line-height: 1.125;
  //}

  .brand-image {
    margin: 0 0 30px;

    img {
      max-width: 40vw;
    }
  }

  .section-description-wrap {
    margin: 0;
  }

  .section-description {
    text-transform: none;
    color: #fff;
    font-size: 24px;
    line-height: 1.25;
    width: 870px;
    max-width: 90%;
    margin: 0 auto;
  }

  .section-content {
    position: relative;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
  }

  .moonfit-card {
    max-width: 570px;
    margin-top: 54px;

    > .button {
      min-width: 300px;
    }
  }

  .footer-menu {
    margin: 47px 0 0;
  }

  .section-shape-promoting-bg {
    bottom: 10%;
  }

  .section-shape-satellite-1 {
    bottom: 5%;
    left: 0;
    transform: translate(-50%, 0);

    img {
      max-width: 12vw;
    }
  }

  .section-shape-satellite-2 {
    top: 10%;
    right: 0;
    //transform: translate(50%, 0);

    img {
      max-width: 22vw;
    }
  }

  .section-shape-kusama {
    top: 50%;
    left: 3%;

    img {
      max-width: 14vw;
    }
  }

  .section-shape-polkadot {
    bottom: 7%;
    right: 9%;

    img {
      max-width: 12vw;
    }
  }

  .section-shape-beast {
    left: 5.7%;
    top: 24%;
  }

  .section-shape-beauty {
    right: 9.1%;
    top: 14%;
  }

  .section-shape-beauty-2 {
    right: 18.6%;
    bottom: 26.3%;
  }

  .shape-token-mfr-1 {
    left: 20%;
    bottom: 15%;

    img {
      transform: rotate(25.79deg);
    }
  }

  .shape-token-mfr-2 {
    right: 26.6%;
    top: 46.8%;
  }

  .shape-token-mfg-1 {
    right: 20%;
    top: 14%;
  }

  .shape-token-mfg-2 {
    right: 45%;
    top: 14%;
    transform: rotate(25.79deg);
    filter: blur(1px);
  }

  .page-container {
    width: 52.5%;
    margin: 0 auto;
    &.not-limit-width {
      width: unset !important;
    }
  }

}

@media screen and (max-width: 600px) {
  .page-content {
    .page-container {
      width: 400px;
      margin: 0 auto;
    }
  }
}

//
//@media (min-width: 992px) {
//}
//
//@include media-breakpoint-down(lg) {
//  .page-mint-pass {
//    .section-title {
//      font-size: 50px;
//    }
//  }
//}
//
//@include media-breakpoint-down(md) {
//  .page-mint-pass {
//    .section-title {
//      font-size: 44px;
//    }
//
//    .section-description {
//      font-size: 22px;
//    }
//  }
//}
//
//@include media-breakpoint-down(sm) {
//  .page-mint-pass {
//    .section-title {
//      font-size: 38px;
//    }
//
//    .connect-image {
//      margin: 0 0 30px;
//
//      img {
//        max-width: 56vw;
//      }
//    }
//
//    .section-description {
//      font-size: 20px;
//    }
//
//    .moonfit-card {
//      margin-top: 35px;
//    }
//  }
//}
//
//@include media-breakpoint-down(xs) {
//  .page-mint-pass {
//    .section-title {
//      font-size: 32px;
//    }
//
//    .section-description {
//      font-size: 18px;
//    }
//  }
//}
