.page-content {
  .main-content {
    padding: 0;
  }
}

.page-content {
  padding: 120px 0 60px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .section-title {
    font-size: 64px;
    line-height: 1.125;
  }

  .connect-image {
    margin: 0 0 67px;

    img {
      max-width: 40vw;
    }
  }

  .section-description-wrap {
    margin: 0;
  }

  .section-description {
    text-transform: none;
    color: #fff;
    font-size: 26px;
    line-height: 1.25;
    width: 870px;
    max-width: 90%;
    margin: 0 auto;
  }

  .section-content {
    position: relative;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
  }

  .moonfit-card {
    margin-top: 54px;

    > .button {
      min-width: 300px;
    }
  }

  .footer-menu {
    margin: 47px 0 0;
  }

  .section-shape-promoting-bg {
    bottom: 10%;
  }

  .section-shape-satellite-1 {
    bottom: 5%;
    left: 0;
    transform: translate(-50%, 0);

    img {
      max-width: 12vw;
    }
  }

  .section-shape-satellite-2 {
    top: 10%;
    right: 0;
    //transform: translate(50%, 0);

    img {
      max-width: 22vw;
    }
  }

  .section-shape-kusama {
    bottom: 40%;
    left: 3.5%;

    img {
      max-width: 13vw;
    }
  }

  .section-shape-polkadot {
    bottom: 12%;
    right: 4%;

    img {
      max-width: 12vw;
    }
  }

  .shape-token-mfr-1 {
    left: 20%;
    bottom: 15%;
  }

  .shape-token-mfr-2 {
    right: 5%;
    bottom: 35%;
    transform: rotate3d(0, 1, 1, 44deg);
    filter: blur(3px);
  }

  .shape-token-mfg-1 {
    right: 20%;
    top: 15%;
  }

  .shape-token-mfg-2 {
    left: 15%;
    top: 15%;
    transform: rotate3d(0, 1, 1, 48deg) skew(15deg);
    filter: blur(1px);
  }

  .page-container {
    width: 600px;
    margin: 0 auto;
  }

}

@media screen and (max-width: 600px) {
  .page-content {
    .page-container {
      width: 400px;
      margin: 0 auto;
    }
  }
}

//
//@media (min-width: 992px) {
//}
//
//@include media-breakpoint-down(lg) {
//  .page-mint-pass {
//    .section-title {
//      font-size: 50px;
//    }
//  }
//}
//
//@include media-breakpoint-down(md) {
//  .page-mint-pass {
//    .section-title {
//      font-size: 44px;
//    }
//
//    .section-description {
//      font-size: 22px;
//    }
//  }
//}
//
//@include media-breakpoint-down(sm) {
//  .page-mint-pass {
//    .section-title {
//      font-size: 38px;
//    }
//
//    .connect-image {
//      margin: 0 0 30px;
//
//      img {
//        max-width: 56vw;
//      }
//    }
//
//    .section-description {
//      font-size: 20px;
//    }
//
//    .moonfit-card {
//      margin-top: 35px;
//    }
//  }
//}
//
//@include media-breakpoint-down(xs) {
//  .page-mint-pass {
//    .section-title {
//      font-size: 32px;
//    }
//
//    .section-description {
//      font-size: 18px;
//    }
//  }
//}
