.page-nft-sale {
  --border-radius: 5px;
  padding-top: 10px;
  z-index: 1;

  .count-minted {
    min-height: 30px;
  }

  .nft-stages {
    .nft-timeline {
      .nft-timeline-ul {
        //border-left-color: #F0489F;
        //border-left-width: 1px;
        //border-left-style: dashed;

        .ant-timeline-item-tail {
          border-left: 1px dashed #e4007b;
        }

        .is-sold-out .ant-timeline-item-tail {
          border-left-style: solid;
        }

        .ant-timeline-item-head-custom {
          top: 0;
          padding: 0;
        }

        .ant-timeline-item-content {
          padding-top: 10px;
        }


        .marker {
          background: #E4007B;
          box-shadow: 0px 0px 14px #E4007B;

          //&:after {
          //  background: radial-gradient(50% 50% at 50% 50%, rgba(161, 107, 216, 0) 0%, rgba(161, 107, 216, 0.261) 100%);
          //}
        }

        .sale-title {
          font-size: 20px;
        }
      }
    }
  }

  .mp-item {
    position: relative;
    //cursor: pointer;

    .square-img-container {
      width: 100%;
      border-radius: var(--border-radius);
      background-color: #120838;
      border: 2px solid transparent;

      img {
        border-radius: var(--border-radius);
        padding: 3px;
        background-color: #120838;
      }
    }

    &.mp-used {
      border-radius: var(--border-radius);
      position: relative;
      overflow: hidden;

      &.is-out-of-slot {
        cursor: not-allowed;

        > div {
          opacity: 0.4;
        }
      }
    }

    .used-text {
      position: absolute;
      display: inline-block;
      border-radius: 5px;
      left: 5px;
      top: 7px;
      color: white;
      z-index: 2;
      margin: 4px;
      background-color: #5D5FEF;
      text-transform: uppercase;
      padding: 2px 9px;
      font-size: 16px;
    }

    .mp-selected {
      position: relative;
      background-clip: padding-box;
      border: 2px solid transparent;
      background-color: #191a28;
      border-radius: var(--border-radius);
      z-index: 1;

      &:before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        margin: -2px;
        background-image: linear-gradient(to right top, #4ccbc9, #e4007b);
        border-radius: inherit;
        box-shadow: 0 4px 30px rgba(228, 0, 123, 0.5);
      }
    }

    .selected-container {
      position: absolute;
      top: 0;
      right: 0;
      background: #e4007b;
      padding: 3px 4px;
      border-bottom-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }
  }

  .nft-item {
    .ant-image-img {
      border-radius: var(--border-radius);
    }
  }
}

@media screen and (min-width: 1024px) {
  .page-nft-sale {
    .nft-item {
      img {
        border-radius: var(--border-radius);
      }

      &:last-child:nth-child(3n - 1) {
        grid-column-end: 0;
      }

      &:nth-last-child(2):nth-child(3n + 1) {
        grid-column-end: 4;
      }

      &:last-child:nth-child(3n - 2) {
        grid-column-end: 5;
      }
    }

    .mp-item {
      &:last-child:nth-child(3n - 1) {
        grid-column-end: 0;
      }

      &:nth-last-child(2):nth-child(3n + 1) {
        grid-column-end: 4;
      }

      &:last-child:nth-child(3n - 2) {
        grid-column-end: 5;
      }
    }
  }
}


.mp-verify {
  &__title {
    svg {
      display: inline-block;
      margin-left: 5px;
      margin-top: -2px;
      cursor: pointer;
    }
  }

  &__header {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 13px;
    text-transform: uppercase;
    color: #A8ADC3;
  }

  &__body {
    background: #2A1143;
    border-radius: 7px;
    padding: 14px 22px;
  }

  &__info {
    color: #90829D;
    text-transform: none;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    line-height: 20px;
    margin: 10px 0 15px;
  }

  &__input {
    background-color: #1C0532 !important;
    color: #A8ADC3 !important;
    border: none !important;
    outline: none !important;
    border-radius: 10px 0 0 10px !important;
    height: 50px !important;

    &::placeholder {
      color: rgb(168 173 195 / 71%);
    }
  }

  &__loading {
    display: inline-block;
    margin-right: 5px;
  }

  &__btn {
    height: 50px !important;
    font-weight: 800;
    font-size: 18px;
    color: white !important;
    background-color: #E4007B !important;
    border: none !important;
    outline: none !important;
    border-radius: 5px !important;
    min-width: 125px;
    text-align: center;

    &:before {
      display: none !important;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:hover {
      transform: none
    }
  }

  &__msg {
    margin-top: 8px;
    text-transform: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #EFAA5D;

    svg {
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 5px;
    }

    &.warning {
      color: #EFAA5D;
    }

    &.success {
      color: #A5D990;
    }

    &.error {
      color: #EF2763;
    }
  }
}


@media screen and (max-width: 1600px) {
  .page-nft-sale {
    min-width: 700px;
  }
}

@media screen and (max-width: 800px) {
  .page-nft-sale {
    min-width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .page-nft-sale {
    min-width: 100%;
  }
}

.form-mint {
  &__fee {
    min-width: 150px;
    margin-bottom: 10px;

    &-label {
      display: block;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      color: #A8ADC3;
    }
  }

  &__warp-input {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    width: 115px;
    height: 50px;
    user-select: none;
    background: #1C0532;
    border-radius: 5px;
  }

  &__input-icon {
    cursor: pointer;
  }

  &__input-value {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;

    input {
      text-align: center;
      background: transparent !important;
      border: none !important;
      color: #fff !important;
      outline: none !important;
      max-width: 50px;
      padding-left: 0 !important;
      padding-right: 0 !important;
      -moz-appearance: textfield;

      &:hover,
      &:focus {
        background: transparent !important;
        border: none !important;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .form-mint {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
