.wallet-auth-required {
  .section-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
  }

  .section-description-wrap {
    .section-description {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      margin: 0 0 0 0;
    }
  }

  .landing-text-wrap {
    max-width: 500px;
  }

  .landing-right-image-wrap {
    margin-left: 4em;
    //margin-top: -16.7%;
    //margin-left: -11%;
    //top: 11.11%;
    //right: 22.65%
  }

}

@media screen and (max-width: 1600px) {
  .wallet-auth-required {
    .landing-right-image-wrap {
      margin-left: 0;
    }
  }
}