.page-mint-pass {
  --border-radius: 5px;
  padding-top: 10px;

  .mp-image {
    border-radius: var(--border-radius);
  }
}

@media screen and (min-width: 1024px) {
  .page-mint-pass {
    .mp-item {
      &:last-child:nth-child(3n - 1) {
        grid-column-end: 0;
      }

      &:nth-last-child(2):nth-child(3n + 1) {
        grid-column-end: 4;
      }

      &:last-child:nth-child(3n - 2) {
        grid-column-end: 5;
      }
    }
  }
}