.page-nft-sale {
  padding-top: 10px;

  .mp-item {
    position: relative;
    //cursor: pointer;

    &.mp-used {
      opacity: 0.4;
    }

    img {
      border-radius: 8px;
    }

    .selected-container {
      position: absolute;
      top: 0;
      right: 0;
      background: #e4007b;
      padding: 3px 4px;
      border-bottom-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    .used-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      //background-color: #99999b;
      //opacity: 0.2;
      border-radius: 8px;

      .used-text {
        position: absolute;
        top: 0;
        right: 0;
        padding: 3px 8px 6px;
        background-color: #1a073eab;
        opacity: 1;
        color: white;
        border-radius: 0 8px;
      }
    }
  }
}