.astar-page-container {
  font-family: Poppins;
  max-width: 1170px;
  margin: 0 auto;
  button {
    height: fit-content;
    width: unset;
    max-height: unset;
    max-width: unset;
    min-height: unset;
    min-width: unset;
  }
  .astar-page-header {
    margin-top: 149px;
    margin-bottom: 80px;
    p {
      margin: 0;
      color: #fff;
      text-align: center;
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: 88px;
      text-transform: capitalize;
    }
  }
  .astar-page-section-1 {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
    margin: 0 0 100px 0;
    .astar-page-section-1-left {
      height: 100%;
      margin-top: -3px;
      .wallet-info {
        color: #fff;
        .wallet-info-header {
          font-family: Poppins;
          margin: 0;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 44px;
          text-transform: capitalize;
        }
        .wallet-list {
          margin-bottom: 40px;
          margin-top: 28px;
          .wallet-item {
            height: fit-content;
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            span {
              display: block;
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 28px;
              text-transform: capitalize;
              &.wallet-address {
                margin-left: 8px;
                font-size: 18px;
                line-height: 30px;
                font-weight: 500;
                padding: 7px 24px 7px 24px;
                background-color: #a16bd8;
                border-radius: 75px;
              }
            }
          }
        }
      }
      .stake-info-wrapper {
        position: relative;
        border-radius: 20px;
        &::before {
          position: absolute;
          z-index: -1;
          content: "";
          top: -3px;
          right: -3px;
          bottom: -3px;
          left: -3px;
          border-radius: 20px;
          background: linear-gradient(90deg, #e4007b 0%, #4ccbc9 100%);
          box-shadow: 0px 4px 80px 0px rgba(161, 107, 216, 0.6);
        }
        .stake-info {
          background-color: #21063c;
          padding: 16px;
          border-radius: 20px;
          .total-stake {
            background-color: #351c4f;
            border-radius: 10px;
            padding: 24px 20px;
            margin-bottom: 16px;
            .total-stake-header {
              color: #fff;
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 28px;
              margin: 0;
              margin-bottom: 16px;
              text-transform: capitalize;
            }
            .total-stake-number {
              background: linear-gradient(
                110deg,
                #95008e 0%,
                #3d94fa 10%,
                #04d8ff 80.31%
              );
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              font-family: Poppins;
              font-size: 40px;
              font-style: normal;
              font-weight: 700;
              line-height: 52px;
              .total-stake-unit {
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 36px;
                margin-left: 8px;
                background: linear-gradient(
                  139deg,
                  #95008e -49.14%,
                  #3d94fa 48.38%,
                  #04d8ff 116.75%
                );
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }
        }
        .claimable-rewards {
          padding: 24px 20px;
          background-color: #351c4f;
          border-radius: 10px;
          margin-bottom: 16px;
          .claimable-rewards-header {
            color: #fff;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            margin: 0 0 20px 0;
            text-transform: capitalize;
          }
          .claimable-rewards-content {
            display: flex;
            gap: 44px;
            align-items: flex-end;
            .claimable-rewards-number {
              font-family: Poppins;
              font-size: 40px;
              font-style: normal;
              font-weight: 700;
              line-height: 52px;
              margin: 0;
              background: linear-gradient(
                110deg,
                #95008e 0%,
                #3d94fa 16%,
                #04d8ff 80.31%
              );
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              .claimable-rewards-unit {
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 36px;
                margin-left: 8px;
                background: linear-gradient(
                  139deg,
                  #95008e -49.14%,
                  #3d94fa 48.38%,
                  #04d8ff 116.75%
                );
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
            .claimable-rewards-button {
              background-color: #4ccbc9;
              padding: 10px 16px;
              font-family: Poppins;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: 30px;
              color: #280748;
              text-transform: capitalize;
              border-radius: 8px;
            }
          }
        }
        .go-to-stake {
          width: 100%;
          padding: 10px;
          border-radius: 8px;
          background: linear-gradient(85deg, #e4007b 2.68%, #4ccbc9 100%);
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 28px;
          text-transform: capitalize;
          color: #fff;
          font-family: Poppins;
        }
      }
    }
    .astar-page-section-1-right {
      height: 100%;
      background-color: #21063c;
      position: relative;
      padding: 16px 12px;
      border-radius: 20px;
      &::before {
        content: "";
        position: absolute;
        top: -3px;
        right: -3px;
        bottom: -3px;
        left: -3px;
        background: linear-gradient(85deg, #e4007b 2.68%, #4ccbc9 100%);
        z-index: -1;
        border-radius: 20px;
        box-shadow: 0px 4px 80px 0px rgba(161, 107, 216, 0.6);
      }
      .stake-info {
        .stake-info-banner {
          display: flex;
          gap: 16px;
          margin-bottom: 16px;
          .stake-banner-item {
            width: calc((100% - 16px) / 2);
            &.first {
              padding: 24px 16px;
              background-color: #351c4f;
              border-radius: 10px;
              .stake-banner-item-header {
                color: #fff;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
                text-transform: capitalize;
                margin: 0 0 16px 0;
              }
              .stake-banner-item-number {
                font-family: Poppins;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 52px;
                margin: 0 0 24px 0;
                background: linear-gradient(
                  110deg,
                  #95008e 0%,
                  #3d94fa 22%,
                  #04d8ff 80.31%
                );
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                .stake-banner-item-unit {
                  font-family: Poppins;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 36px;
                  background: linear-gradient(
                    139deg,
                    #95008e -49.14%,
                    #3d94fa 48.38%,
                    #04d8ff 116.75%
                  );
                  background-clip: text;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                }
              }
              .stake-banner-item-next {
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                color: #90829d;
                text-transform: capitalize;
                .stake-banner-item-next-time {
                  font-weight: 600;
                  color: #fff;
                }
              }
            }
            &.second {
              background-color: #351c4f;
              border-radius: 10px;
              padding: 24px 14px 20px;
              position: relative;
              .stake-banner-item-bg {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 10px;
                z-index: 0;
                overflow: hidden;
              }
              .stake-banner-item-content {
                position: relative;
                z-index: 1;
                .stake-banner-item-header {
                  font-family: Poppins;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 28px;
                  color: #fff;
                  text-transform: capitalize;
                  margin: 0 0 16px 0;
                }
                .stake-banner-item-number {
                  color: #fff;
                  font-family: Poppins;
                  font-size: 32px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 52px;
                  margin: 0 0 16px;
                }
                .stake-banner-item-next {
                  color: #fff;
                  font-family: Poppins;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 36px;
                  margin: 0;
                }
              }
            }
          }
        }
        .stake-benefit {
          position: relative;
          padding: 24px 16px 0;
          border-radius: 10px;
          overflow: hidden;
          .stake-benefit-bg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 0;
            img{
                width: 100%;
                height: 100%;
            }
          }
          .stake-benefit-content {
            position: relative;
            z-index: 1;
            margin-bottom: 135px;
            .stake-benefit-header {
              color: #fff;
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 28px;
              text-transform: capitalize;
              margin: 0 0 16px;
            }
            .stake-benefit-list {
              display: flex;
              gap: 16px;
              padding: 0;
              margin:0;
              .stake-benefit-item {
                width: calc((100% - 32px) / 3);
                padding: 16px;
                background-color: rgba(161, 107, 216, 0.3);
                border-radius: 10px;
                margin: 0;
                .stake-benefit-item-index-wrapper {
                  position: relative;
                  .stake-benefit-item-index {
                    display: block;
                    width: 32px;
                    height: 32px;
                    border-radius: 36px;
                    background-color: #e4007b;
                    color: #fff;
                    text-align: center;
                    font-family: Poppins;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 18px;
                    text-align: center;
                    line-height: 32px;
                    margin: 0 0 16px 0;
                    position: relative;
                    z-index: 10;
                  }
                  .border-index {
                    position: absolute;
                    content: "";
                    background-color: #502f70;
                    width: 32px;
                    height: 32px;
                    top: 0;
                    left: 0;
                    border-radius: 50%;

                    animation: scaleCircle infinite 1s alternate;
                  }
                }

                .stake-benefit-item-content {
                  color: #fff;
                  font-family: Poppins;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 24px;
                  text-transform: none;
                  .change-color-1 {
                    font-weight: 600;
                    color: #4dfff6;
                  }
                  .change-color-2 {
                    font-weight: 600;
                    color: #48c8f0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes scaleCircle {
  from {
    scale: 1;
  }
  to {
    scale: 1.4;
  }
}
