.section-h2p-start-running {
	background: url(../../../assets/images/how-to-play/start-running-bg.jpg) no-repeat bottom center;
	background-size: cover;
	padding: 120px 0 170px;

	.image-frame-on-hover {
		width: 330px;
		max-width: 100%;
		margin: 0 auto 30px;
	}

	.section-shape-radial-circle {
		left: 0;
		top: 0;
		transform: translate(-58%, 30%);
	}
}

@include media-breakpoint-up(xl) {
	.section-h2p-start-running {
		.section-header {
			margin: 0 0 83px;
		}
	}
}

@include media-breakpoint-down(lg) {
	.section-h2p-start-running {
		padding: 120px 0 120px;
	}
}

@include media-breakpoint-down(md) {
	.section-h2p-start-running {
		padding: 100px 0 70px;
	}
}

@include media-breakpoint-down(sm) {
	.section-h2p-start-running {
		padding: 60px 0 80px;
	}
}
