.countdown-container {
  .countdown-item {
    margin-right: 10px;

    .countdown {
      background: #2A1143;
      border-radius: 7px;
      width: 58px;
      text-align: center;
      padding: 8px 15px 0;
    }
  }
}