.section-roadmap {
	padding: 170px 0 0;
	z-index: 2;

	.section-shape-moon {
		top: 0;
		right: 0;
		transform: translate(15%, 10%);

		img {
			max-width: 25.42vw;
		}
	}

	.section-shape-earth {
		left: 0;
		bottom: 0;
		transform: translate(0, 23%);

		img {
			max-width: 27.6vw;
		}
	}
}

.block-roadmap-wrap {
	padding: 180px 0 0;
}

.roadmap-background {
	--heading-size: 24px;
	--text-size: 16px;
	position: relative;
	width: 1920px;
	left: 50%;
	transform: translateX(-50%);

	.roadmap-star {
		position: absolute;
		top: 0;
		left: 0;
		animation: flash 2.5s linear infinite;
		pointer-events: none;
		user-select: none;

		&.star-1 {
			top: -200px;
			left: 20%;
		}

		&.star-2 {
			top: 300px;
			left: 10%;
			animation: flash 2.7s linear infinite;
		}

		&.star-3 {
			top: 200px;
			left: 15%;
			animation: flash 3s linear infinite;
		}

		&.star-4 {
			top: -50px;
			left: 30%;
			animation: flash 2.9s linear infinite;
		}

		&.star-5 {
			top: 100px;
			left: 100px;
			animation: flash 2.6s linear infinite;
		}

		&.star-6 {
			top: 100px;
			left: auto;
			right: 30%;
			animation: flash 2.5s linear infinite;
		}

		&.star-7 {
			top: auto;
			left: auto;
			bottom: 300px;
			right: 10%;
			animation: flash 2.5s linear infinite;
		}

		&.star-8 {
			top: auto;
			left: auto;
			bottom: 250px;
			right: 20%;
			animation: flash 2.9s linear infinite;
		}

		&.star-9 {
			top: auto;
			left: auto;
			bottom: 550px;
			right: 100px;
			animation: flash 2.7s linear infinite;
		}

		&.star-10 {
			top: auto;
			left: auto;
			bottom: 450px;
			right: 350px;
			animation: flash 3s linear infinite;
		}

		&.star-11 {
			top: 35%;
			left: 50%;
			animation: flash 3s linear infinite;
		}

		img {
			width: 30px;
			height: auto;
			opacity: 0.7;
		}
	}

	.roadmap-road {
		img {
			max-width: 100%;
		}
	}

	.roadmap-dot-light {
		position: absolute;
		bottom: 190px;
		left: 390px;

		.roadmap-light-vertical {
			position: absolute;
			top: -81px;
			left: 103px;
		}
	}

	.roadmap-dot-light-1 {
		position: absolute;
		bottom: 210px;
		left: 685px;

		.roadmap-light-vertical {
			position: absolute;
			top: 15px;
			left: 264px;
		}
	}

	.roadmap-dot-light-2 {
		position: absolute;
		top: 41px;
		right: 235px;

		.roadmap-light-vertical {
			position: absolute;
			top: -28px;
			left: 10px;
		}
	}

	.roadmap-dot-light-3 {
		position: absolute;
		top: 172px;
		right: 235px;

		.roadmap-light-vertical {
			position: absolute;
			top: 6px;
			left: 262px;
		}
	}

	.roadmap-dot-light-4 {
		position: absolute;
		top: 398px;
		left: 540px;

		.roadmap-light-vertical {
			position: absolute;
			top: -89px;
			left: 11px;
		}
	}

	.roadmap-dot-light-5 {
		position: absolute;
		top: 238px;
		right: 445px;

		.roadmap-light-vertical {
			position: absolute;
			top: -82px;
			left: 10px;
		}
	}

	.roadmap-item {
		position: absolute;

		.roadmap-item-box {
			position: relative;
			width: 300px;
			padding: 16px 20px 23px;
			background-image: url('../../assets/images/roadmap/bg-roadmap-item.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: -1px center;
			border-radius: 10px;
			background-clip: padding-box;
			border: 2px solid transparent;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: -1;
				margin: -2px;
				border-radius: inherit;
				background: linear-gradient(255.08deg, #4ccbc9 -8.51%, rgba(0, 0, 0, 0.573279) 20.14%, rgba(0, 0, 0, 0) 80.39%, #e4007b 101.4%);
				transition: all 0.3s ease 0s;
			}

			.roadmap-light-vertical {
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate(-50%, -9px);
				pointer-events: none;
				user-select: none;
			}

			.item-wrapper {
				h3 {
					font-size: var(--heading-size);
					line-height: 36px;
					color: $primary-color;
					margin: 0;
				}

				ul {
					margin: 0;
					padding: 0;

					li {
						margin: 0;
						list-style: none;
						font-size: var(--text-size);
						line-height: 26px;
						padding: 0 0 0 22px;
						position: relative;

						&:before {
							position: absolute;
							content: '';
							top: 8px;
							left: 0;
							width: 14px;
							height: 14px;
							background-color: var(--check-color, #a8adc3);
							-webkit-mask-image: url(../../assets/images/icons/Phosphor-Check.svg);
							mask-image: url(../../assets/images/icons/Phosphor-Check.svg);
							-webkit-mask-repeat: no-repeat;
							mask-repeat: no-repeat;
							-webkit-mask-position: center center;
							mask-position: center center;
							-webkit-mask-size: cover;
							mask-size: cover;
						}

						&.task-done {
							--check-color: #{$secondary-color};
						}
					}
				}
			}
		}

		&.item-1 {
			z-index: 1;
			left: 389px;
			bottom: 283px;
			transition: all 0.5s ease 0s;
		}

		&.item-2 {
			left: 845px;
			bottom: 339px;
			transition: all 0.5s ease 0.1s;
		}

		&.item-3 {
			left: 446px;
			top: 144px;
			transition: all 0.5s ease 0.2s;
		}

		&.item-4 {
			left: 854px;
			top: -30px;
			transition: all 0.5s ease 0.3s;
		}

		&.item-5 {
			left: auto;
			top: 327px;
			right: 350px;
			transition: all 0.5s ease 0.5s;

			.roadmap-item-box {
				.roadmap-light-vertical {
					position: absolute;
					top: auto;
					bottom: 100%;
					left: 50%;
					transform: translate(-50%, 11px) rotate(180deg);
					transform-origin: center;
				}
			}
		}

		&.item-6 {
			left: auto;
			top: -220px;
			right: 263px;
			transition: all 0.5s ease 0.6s;
		}
	}
}

@media (max-width: 1500px) {
	.block-roadmap-wrap {
		padding: 254px 0 0;
	}

	.roadmap-background {
		--heading-size: 22px;
		--text-size: 15px;
		width: 1440px;

		.roadmap-dot-light {
			bottom: 143px;
			left: 290px;
		}

		.roadmap-dot-light-1 {
			bottom: 160px;
			left: 505px;

			img {
				width: 410px;
			}
		}

		.roadmap-dot-light-4 {
			top: 297px;
			left: 405px;

			img {
				width: 240px;
			}
		}

		.roadmap-dot-light-3 {
			top: 131px;
			right: 173px;

			img {
				width: 730px;
			}
		}

		.roadmap-dot-light-5 {
			top: 178px;
			right: 333px;
		}

		.roadmap-dot-light-2 {
			top: 33px;
			right: 184px;

			img {
				width: 170px;
			}
		}

		.roadmap-item {

			.roadmap-item-box {
				width: 260px;
			}

			&.item-1 {
				left: 308px;
				bottom: 234px;
			}

			&.item-2 {
				left: 620px;
				bottom: 275px;
			}

			&.item-3 {
				left: 320px;
				top: 26px;
			}

			&.item-4 {
				left: 635px;
				top: -96px;
			}

			&.item-5 {
				top: 265px;
				right: 259px;
			}

			&.item-6 {
				top: -254px;
				right: 182px;
			}
		}
	}
}

@media (max-width: 1399px) {
	.section-roadmap {
		padding: 130px 0 0;

		.section-shape-moon {
			img {
				max-width: 20vw;
				transform: translate(20%, 10%);
			}
		}

		.section-shape-earth {
			img {
				max-width: 20vw;
			}
		}
	}

	.roadmap-background {
		width: 1366px;

		.roadmap-dot-light {
			bottom: 135px;
			left: 265px;
		}

		.roadmap-dot-light-1 {
			bottom: 146px;
			left: 459px;
		}

		.roadmap-dot-light-4 {
			top: 277px;
			left: 379px;
		}

		.roadmap-dot-light-3 {
			top: 124px;
			right: 166px;
		}

		.roadmap-dot-light-5 {
			top: 171px;
			right: 316px;
		}

		.roadmap-dot-light-2 {
			top: 30px;
			right: 169px;
		}

		.roadmap-item {
			&.item-1 {
				left: 283px;
				bottom: 214px;
			}

			&.item-2 {
				left: 575px;
				bottom: 260px;
			}

			&.item-3 {
				left: 295px;
				top: 0px;
			}

			&.item-4 {
				left: 567px;
				top: -110px;
			}

			&.item-5 {
				top: 255px;
				right: 242px;
			}

			&.item-6 {
				top: -259px;
				right: 168px;
			}
		}
	}
}

@media (max-width: 1199px) {
	.section-roadmap {
		padding: 110px 0 80px;
	}

	.block-roadmap-wrap {
		padding: 400px 0 420px;
	}

	.roadmap-background {
		--heading-size: 18px;

		width: 100%;

		.roadmap-road {
			position: relative;
			//min-height: 700px;
			height: 2px;
			width: 100%;

			img {
				display: none;
			}

			&:before {
				content: '';
				display: block;
				width: 90%;
				height: 2px;
				background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.42) 25%, rgba(255, 255, 255, 0.42) 50.92%, rgba(255, 255, 255, 0.42) 75%, rgba(255, 255, 255, 0) 100.77%);
				position: absolute;
				top: 50%;
				left: 5%;
			}
		}
		.roadmap-dot-light {
			display: none;
		}

		.roadmap-dot-light-1 {
			display: none;
		}

		.roadmap-dot-light-4 {
			display: none;
		}

		.roadmap-dot-light-3 {
			display: none;
		}

		.roadmap-dot-light-5 {
			display: none;
		}

		.roadmap-dot-light-2 {
			display: none;
		}

		.roadmap-item {
			.roadmap-item-box {
				width: 220px;

				.roadmap-light-vertical {
					&:before {
						content: '';
						width: 10px;
						height: 10px;
						border-radius: 50%;
						background: #4ccbc9;
						position: absolute;
						bottom: 20px;
						left: 50%;
						transform: translate(-50%, 0);
						box-shadow: 0px 0px 7px 5px rgba(37, 240, 235, 0.4);;
					}
				}
			}

			&.item-1 {
				left: 130px;
				bottom: auto;
				top: 75px;

				.roadmap-light-vertical {
					position: absolute;
					top: auto;
					bottom: 100%;
					left: 50%;
					transform: translate(-50%, 11px) rotate(180deg);
					transform-origin: center;
				}
			}

			&.item-2 {
				left: 260px;
				bottom: 75px;
			}

			&.item-3 {
				left: 390px;
				top: 75px;

				.roadmap-item-box {
					.roadmap-light-vertical {
						position: absolute;
						top: auto;
						bottom: 100%;
						left: 50%;
						transform: translate(-50%, 11px) rotate(180deg);
						transform-origin: center;
					}
				}
			}

			&.item-4 {
				left: 520px;
				top: auto;
				bottom: 75px;
			}

			&.item-5 {
				top: 75px;
				right: auto;
				left: 650px;
			}

			&.item-6 {
				top: auto;
				bottom: 75px;
				right: auto;
				left: 785px;
			}
		}
	}
}

@media (max-width: 992px) {
	.block-roadmap-wrap {
		padding: 0;
		display: flex;
		justify-content: center;
	}

	.roadmap-background {
		width: auto;
		padding: 0 0 0 75px;
		position: relative;
		transform: none;
		left: auto;
		top: auto;

		.roadmap-road {
			position: absolute;
			//min-height: 700px;
			height: 100%;
			width: 5px;
			top: 0;
			left: 0;

			img {
				display: none;
			}

			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.42) 25%, rgba(255, 255, 255, 0.42) 50.92%, rgba(255, 255, 255, 0.42) 75%, rgba(255, 255, 255, 0) 100.77%);
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		.roadmap-item {
			position: relative;
			opacity: 1;
			transform: translateY(0px);

			.roadmap-item-box {
				width: 350px;
				position: relative;
				margin: 0 0 50px;

				&:before {
					background: linear-gradient(70deg, #4ccbc9 -8.51%, rgba(0, 0, 0, 0.573279) 20.14%, rgba(0, 0, 0, 0) 80.39%, #e4007b 101.4%);
				}

				.roadmap-light-vertical {
					&:before {
						content: '';
						width: 10px;
						height: 10px;
						border-radius: 50%;
						background: #4ccbc9;
						position: absolute;
						bottom: 20px;
						left: 50%;
						transform: translate(-50%, 0);
						box-shadow: 0px 0px 7px 5px rgba(37, 240, 235, 0.4);
					}
				}
			}

			&.item-1 {
				left: auto;
				bottom: auto;
				top: auto;

				.roadmap-item-box {
					.roadmap-light-vertical {
						position: absolute;
						top: 50%;
						bottom: auto;
						left: 0;
						transform: translate(-91px, -50%) rotate(90deg);
						transform-origin: center;
					}
				}
			}

			&.item-2 {
				left: auto;
				bottom: auto;

				.roadmap-item-box {
					.roadmap-light-vertical {
						position: absolute;
						top: 50%;
						bottom: auto;
						left: 0;
						transform: translate(-91px, -50%) rotate(90deg);
						transform-origin: center;
					}
				}
			}

			&.item-3 {
				left: auto;
				top: auto;

				.roadmap-item-box {
					.roadmap-light-vertical {
						position: absolute;
						top: 50%;
						bottom: auto;
						left: 0;
						transform: translate(-91px, -50%) rotate(90deg);
						transform-origin: center;
					}
				}
			}

			&.item-4 {
				left: auto;
				top: auto;
				bottom: auto;

				.roadmap-item-box {
					.roadmap-light-vertical {
						position: absolute;
						top: 50%;
						bottom: auto;
						left: 0;
						transform: translate(-91px, -50%) rotate(90deg);
						transform-origin: center;
					}
				}
			}

			&.item-5 {
				top: auto;
				right: auto;
				left: auto;

				.roadmap-item-box {
					.roadmap-light-vertical {
						position: absolute;
						top: 50%;
						bottom: auto;
						left: 0;
						transform: translate(-91px, -50%) rotate(90deg);
						transform-origin: center;
					}
				}
			}

			&.item-6 {
				top: auto;
				bottom: auto;
				right: auto;
				left: auto;

				.roadmap-item-box {
					.roadmap-light-vertical {
						position: absolute;
						top: 50%;
						bottom: auto;
						left: 0;
						transform: translate(-91px, -50%) rotate(90deg);
						transform-origin: center;
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
	.roadmap-background {
		.roadmap-item {
			.roadmap-item-box {
				width: calc(100vw - 140px);
			}
		}
	}
}
