.block-heading-frame {
	--border-size: 2px;
	position: relative;
	border-radius: 5px;
	background: linear-gradient(45deg, $primary-color 0%, rgba(43, 54, 28, 0) 70%, rgba(43, 54, 28, 0) 82%, $primary-color 100%);
	box-shadow: 0 4px 10px rgba(37, 240, 235, .4);
	width: 272px;
	padding: 28px 22px 20px;
	text-align: left;

	&:before {
		content: '';
		position: absolute;
		top: var(--border-size);
		bottom: var(--border-size);
		right: var(--border-size);
		left: var(--border-size);
		border-radius: inherit;
		background: $body-bg-color;
		z-index: 1;
	}

	.content {
		position: relative;
		z-index: 2;
	}

	.title {
		color: $primary-color;
		font-size: 16px;
		margin: 0 0 2px;
	}

	.description {
		font-size: 16px;
		line-height: 26px;
		margin: 0;
	}
}

.section-web3-nft {
	padding: 142px 0 136px;

	.section-header-inner {
		max-width: 874px;
	}

	.section-description {
		max-width: 580px;
		margin: 0 auto;
	}

	.image-group {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		text-align: center;
		min-height: 520px;
	}

	.main-image {
		max-width: 53%;
	}

	.shape-promoting-01 {
		top: 12%;
		left: 7%;
		max-width: 11.5%;
	}

	.shape-promoting-02 {
		bottom: 40%;
		left: 16%;
		max-width: 11.5%;
	}

	.shape-promoting-03 {
		bottom: 28%;
		right: 12%;
		max-width: 11.5%;
	}

	.shape-promoting-04 {
		bottom: 0;
		right: 36%;
		max-width: 12.2%;
	}

	.block-heading-frame {
		position: absolute;
		z-index: 1;
	}

	svg {
		position: absolute;
	}

	.block-heading-01 {
		left: 0;
		bottom: 50%;
		transform: translateY(-32px);

		svg {
			transform: translateX(-2px);
			top: 50%;
			left: 100%;
		}
	}

	.block-heading-02 {
		left: 38px;
		top: 50%;
		transform: translateY(32px);

		svg {
			transform: translateX(-2px);
			bottom: 50%;
			left: 100%;
		}
	}

	.block-heading-03 {
		right: 0;
		bottom: 50%;
		transform: translateY(-102px);

		svg {
			transform: translateX(2px);
			top: 50%;
			right: 100%;
		}
	}

	.block-heading-04 {
		right: 30px;
		top: 50%;
		transform: translateY(-50%);

		svg {
			transform: translateX(2px);
			top: 50%;
			right: 100%;
		}
	}

	.block-heading-05 {
		right: 0;
		top: 50%;
		transform: translateY(102px);

		svg {
			transform: translateX(2px);
			bottom: 50%;
			right: 100%;
		}
	}
}

.section-shape-promoting-bg {
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

@include media-breakpoint-up(md) {
	.block-heading-frame {
		&.frame-reversed {
			background: linear-gradient(-45deg, $primary-color 0%, rgba(43, 54, 28, 0) 70%, rgba(43, 54, 28, 0) 82%, $primary-color 100%);
		}
	}
}

@include media-breakpoint-down(md) {
	.section-web3-nft {
		.image-group {
			min-height: 640px;
		}

		.main-image {
			max-width: 45%;
		}

		.block-heading-frame {
			width: 200px;
		}
	}
}

@include media-breakpoint-down(sm) {
	.section-web3-nft {
		.section-header {
			margin: 0 0 20px !important;
		}

		.image-group {
			min-height: 0;
		}

		.main-image {
			max-width: 60%;
			margin: 0 0 40px;
		}

		.block-heading-frame {
			position: relative;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
			transform: none;
			width: 100%;
			margin: 0 0 30px;

			> svg {
				display: none;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.section-web3-nft {
		.main-image {
			max-width: 75%;
		}
	}
}
